<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	
	
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>Register</servlet-class>
	</servlet>
	
	<servlet-mapping>
			<servlet-name>Register</servlet-name>
			<url-pattern>/Register</url-pattern>
		</servlet-mapping>
		
	

	

		
	
	<servlet>  
    <description></description>  
    <display-name>LoginServlet</display-name>  
    <servlet-name>LoginServlet</servlet-name>  
    <servlet-class>LoginServlet</servlet-class>  
  </servlet>

			
		<servlet-mapping>  
    <servlet-name>LoginServlet</servlet-name>  
    <url-pattern>/LoginServlet</url-pattern>  
  </servlet-mapping>
	
	<servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>Search</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DetailedInfo</servlet-name>
        <servlet-class>DetailedInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DetailedInfo</servlet-name>
        <url-pattern>/DetailedInfo</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AddInfoProfile</servlet-name>
        <servlet-class>AddInfoProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddInfoProfile</servlet-name>
        <url-pattern>/AddInfoProfile</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>Specials</servlet-name>
        <servlet-class>Specials</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Specials</servlet-name>
        <url-pattern>/Specials</url-pattern>
    </servlet-mapping>
    
    <servlet>  
    <description></description>  
    <display-name>ResetPassword</display-name>  
    <servlet-name>ResetPassword</servlet-name>  
    <servlet-class>ResetPassword</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>ResetPassword</servlet-name>  
    <url-pattern>/ResetPassword</url-pattern>  
  </servlet-mapping>  	
    
    <servlet>  
    <description></description>  
    <display-name>SendEmail</display-name>  
    <servlet-name>SendEmail</servlet-name>  
    <servlet-class>SendEmail</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>SendEmail</servlet-name>  
    <url-pattern>/SendEmail</url-pattern>  
  </servlet-mapping>  	
    
    
    


		<servlet>  
    <description></description>  
    <display-name>ProfileServlet</display-name>  
    <servlet-name>ProfileServlet</servlet-name>  
    <servlet-class>ProfileServlet</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>ProfileServlet</servlet-name>  
    <url-pattern>/ProfileServlet</url-pattern>  
  </servlet-mapping>  	
			
			
	 <servlet>  
    <description></description>  
    <display-name>LogoutServlet</display-name>  
    <servlet-name>LogoutServlet</servlet-name>  
    <servlet-class>LogoutServlet</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>LogoutServlet</servlet-name>  
    <url-pattern>/LogoutServlet</url-pattern>  
  </servlet-mapping>  		
			
			
			
	<servlet>  
    <description></description>  
    <display-name>EditAddGame</display-name>  
    <servlet-name>EditAddGame</servlet-name>  
    <servlet-class>EditAddGame</servlet-class>  
  </servlet>

			
		<servlet-mapping>  
    <servlet-name>EditAddGame</servlet-name>  
    <url-pattern>/EditAddGame</url-pattern>  
  </servlet-mapping>
			
	<servlet>  
    <description></description>  
    <display-name>UserInfo</display-name>  
    <servlet-name>UserInfo</servlet-name>  
    <servlet-class>UserInfo</servlet-class>  
  </servlet>

			
		<servlet-mapping>  
    <servlet-name>UserInfo</servlet-name>  
    <url-pattern>/UserInfo</url-pattern>  
  </servlet-mapping>		
			
	
	<servlet>  
    <description></description>  
    <display-name>blockUser</display-name>  
    <servlet-name>blockUser</servlet-name>  
    <servlet-class>blockUser</servlet-class>  
  </servlet>

			
		<servlet-mapping>  
    <servlet-name>blockUser</servlet-name>  
    <url-pattern>/blockUser</url-pattern>  
  </servlet-mapping>
  
  <servlet>  
    <description></description>  
    <display-name>AddToCart</display-name>  
    <servlet-name>AddToCart</servlet-name>  
    <servlet-class>AddToCart</servlet-class>  
  </servlet>

			
		<servlet-mapping>  
    <servlet-name>AddToCart</servlet-name>  
    <url-pattern>/AddToCart</url-pattern>  
  </servlet-mapping>
	
	<servlet>  
    <description></description>  
    <display-name>ChangeQuantity</display-name>  
    <servlet-name>ChangeQuantity</servlet-name>  
    <servlet-class>ChangeQuantity</servlet-class>  
  </servlet>

			
		<servlet-mapping>  
    <servlet-name>ChangeQuantity</servlet-name>  
    <url-pattern>/ChangeQuantity</url-pattern>  
  </servlet-mapping>
			
	
	<servlet>  
    <description></description>  
    <display-name>EmptyCart</display-name>  
    <servlet-name>EmptyCart</servlet-name>  
    <servlet-class>EmptyCart</servlet-class>  
  </servlet>

			
		<servlet-mapping>  
    <servlet-name>EmptyCart</servlet-name>  
    <url-pattern>/EmptyCart</url-pattern>  
  </servlet-mapping>
			
			
	<servlet>  
    <description></description>  
    <display-name>CheckOut</display-name>  
    <servlet-name>CheckOut</servlet-name>  
    <servlet-class>CheckOut</servlet-class>  
  </servlet>

			
		<servlet-mapping>  
    <servlet-name>CheckOut</servlet-name>  
    <url-pattern>/CheckOut</url-pattern>  
  </servlet-mapping>
  
  
  <servlet>  
    <description></description>  
    <display-name>Pay</display-name>  
    <servlet-name>Pay</servlet-name>  
    <servlet-class>Pay</servlet-class>  
  </servlet>

			
		<servlet-mapping>  
    <servlet-name>Pay</servlet-name>  
    <url-pattern>/Pay</url-pattern>  
  </servlet-mapping>
  
	<servlet>  
    <description></description>  
    <display-name>RemoveSpecial</display-name>  
    <servlet-name>RemoveSpecial</servlet-name>  
    <servlet-class>RemoveSpecial</servlet-class>  
  </servlet>

			
		<servlet-mapping>  
    <servlet-name>RemoveSpecial</servlet-name>  
    <url-pattern>/RemoveSpecial</url-pattern>  
  </servlet-mapping>
  				
			
		<servlet>  
    <description></description>  
    <display-name>Inventory</display-name>  
    <servlet-name>Inventory</servlet-name>  
    <servlet-class>Inventory</servlet-class>  
  </servlet>

			
		<servlet-mapping>  
    <servlet-name>Inventory</servlet-name>  
    <url-pattern>/Inventory</url-pattern>  
  </servlet-mapping>
  					
			

			
			
	<welcome-file-list>
		<welcome-file>Login.jsp</welcome-file>
	</welcome-file-list>
</web-app>
